input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: #fff;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.5s ease;
    transform: translateY(20px);
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast.hidden {
    opacity: 0;
    transform: translateY(20px);
}

.toast-success {
    background-color: #28a745;
}

.toast-error {
    background-color: #dc3545;
}